prm-search-bar .search-element-inner {
  border-radius: 0px;
}

/* SIGN-IN POP-UP */
prm-login {
    background-color: #002244;
    color: #FFFFFF;
}




@media (min-width:600px) {
    /* BASIC SETTINGS */
    body {
	/*background-color: #F8F7F4;*/
    }

    /* LOGO SECTION */
    prm-logo .product-logo:hover {
	/*box-shadow: none;*/
    }

    /* LOGO IMAGE */
    prm-logo img.logo-image {
	/*background-color: #FFFFFF;*/
	/*border: 0;*/
	padding: 0;
    }

    #banner a.md-primoExplore-theme:hover, #banner a.md-primoExplore-theme:focus {
	/*background-color: transparent;*/
	box-shadow: none;
	/*opacity: 0.8;*/
    }

    prm-topbar.transparent-top-bar prm-logo {
	/*background-color: #FFFFFF;*/
    }    

    /* TOP NAVIGATION BAR */
    prm-topbar:not(.transparent-top-bar) .top-nav-bar {
	/*background-color: #FFFFFF;*/
	background-color: #E9E9E9;
	color: #4C4C4C;
    }

    prm-topbar:not(.transparent-top-bar) .md-button {
	background-color: #FCFCFC;
	color: #4C4C4C !important;
    }

    prm-topbar:not(.transparent-top-bar) md-fab-toolbar md-toolbar {
	background-color: #FFFFFF !important;
	color: #4C4C4C;
    }

    prm-topbar:not(.transparent-top-bar) .buttons-group .md-button {
	box-shadow: none;
    }

    .prm-secondary-color, prm-search-bookmark-filter .md-button, prm-topbar:not(.transparent-top-bar) .top-nav-bar {
	color: #4C4C4C;
    }


    prm-topbar:not(.transparent-top-bar) prm-main-menu[menu-type=menu] {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;    
    }

    prm-topbar:not(.transparent-top-bar) prm-main-menu[menu-type=menu] div.layout-full-height {
	height: 86%;
	min-height: 86%;
    }

    prm-topbar:not(.transparent-top-bar) prm-main-menu[menu-type=menu] .md-button {
	font-size:13px;
	text-transform:none;
    }

    prm-topbar:not(.transparent-top-bar) prm-main-menu[menu-type=menu] .md-button:hover {
	background-color: #DBDCDD;
    }

    prm-topbar:not(.transparent-top-bar) prm-main-menu[menu-type=menu] div[ng-repeat="urlConfig in $ctrl.viewUrlsList |limitTo:$ctrl.showCount()"] {
	border-top: solid 1px #DBDCDD;
	border-right: solid 1px #DBDCDD;
    }    
    
    prm-topbar:not(.transparent-top-bar) prm-main-menu[menu-type=menu] div[ng-repeat="urlConfig in $ctrl.viewUrlsList |limitTo:$ctrl.showCount()"]:first-child {
	border-left: solid 1px #DBDCDD;
    }

    prm-topbar:not(.transparent-top-bar) prm-main-menu[menu-type=menu] button[ng-if="$ctrl.showMoreOptionsButton()"] {
	border-top: solid 1px #DBDCDD;
	border-right: solid 1px #DBDCDD;
    }    

    /* PIN AND SEARCH HISTORY BUTTONS IN TOP BAR */
    prm-topbar:not(.transparent-top-bar) prm-search-bookmark-filter .md-button {
	background-color: #FFFFFF;
    }

    prm-topbar:not(.transparent-top-bar) prm-search-bookmark-filter .md-button:hover {
	background-color: #DBDCDD;
	color: #4C4C4C;
	box-shadow: none;
    }
